.Lighting_NavOptions{
    width: fit-content;
    height: fit-content;
    margin-top: 50%;
}

.Lighting_OptionItem{
    color: rgb(159,163,170);
    height: auto;
    width: 88%;
    line-height: 25px;
    // border-style: solid;
    // border-color: rgb(18,62,162);
    //border-top: 2px solid rgb(18,62,162);
    /* background: rgb(255 0 0); */
    margin-left: 5%;
    
}
.QuicklySelectBlockItem{
    color: rgb(159,163,170);
    font-size: 15px;
    margin-right: 1%;
    border-bottom: 2px solid rgb(18,62,162);
}



.colorBase{
    width: 1.2vw;
    height: 1.2vw;
    transform: skewX(-30deg);
    border-color: white;
    border-style: solid;
}
.colorBaseList{
    right: 6%;
    width: 14vw;
    height: 6vh;
    position: absolute;
    display: flex;
    bottom: 23%;
    align-items: center;
}




