.Lighting_NavOptions{
    width: fit-content;
    height: fit-content;
    margin-top: 50%;
}

.Lighting_OptionItem{
    color: rgb(159,163,170);
    height: auto;
    width: 88%;
    line-height: 25px;
    // border-style: solid;
    // border-color: rgb(18,62,162);
    //border-top: 2px solid rgb(18,62,162);
    /* background: rgb(255 0 0); */
    margin-left: 5%;
    input:focus {
        -webkit-user-select:none;
        -moz-user-select:none;
        -o-user-select:none;
        user-select:none;
        // outline:blue;
        // //outline-color: blue;
        // border:none;
    
    }
    .lightingNameField{

        border: none;
        background: transparent;
        display: block;
        width: 100%;
        margin-bottom: 6px;
        height: 20px;
        color: rgb(159,163,170);
        font-size: 11px;
        padding: 0px;

    }
    .lightingNameField:focus{

        border: none;
        background: rgb(255,255,255);
        display: block;
        width: 100%;
        margin-bottom: 6px;
        height: 20px;
        color: rgb(159,163,170);
        font-size: 11px;
        padding: 0px;

    }
}

.QuicklySelectBlockItem{
    color: rgb(159,163,170);
    font-size: 15px;
    margin-right: 1%;
    border-bottom: 2px solid rgb(18,62,162);
}



.colorBase{
    width: 1.2vw;
    height: 1.2vw;
    transform: skewX(-30deg);
    border-color: white;
    border-style: solid;
}
.colorBaseList{
    right: 6%;
    width: 14vw;
    height: 6vh;
    position: absolute;
    display: flex;
    bottom: 23%;
    align-items: center;
}




