.Lighting_NavOptions{
    width: fit-content;
    height: fit-content;
    margin-top: 50%;
}

.Lighting_OptionItem{
    color: rgb(159,163,170);
    height: auto;
    width: 88%;
    line-height: 25px;
    /* background: rgb(255 0 0); */
    margin-left: 5%;
    
}
.QuicklySelectBlockItem{
    color: rgb(159,163,170);
    font-size: 15px;
    margin-right: 1%;
    border-bottom: 2px solid rgb(18,62,162);
}



