:host{
    margin-top: 3vh;
    overflow: hidden;
    height: 720px;width: 1200px;
    user-select: none;
}

.CenterAlignment{
    display: flex;
    justify-content: center;
    align-items: center;
}


.RightPanal::before{
    content: "";
    position: absolute;
    height: 94%;
    width: 2px;
    margin-top: 18%;
    background-color: rgb(162 170 159);
}


.KeyBoardAreaStyle{
    height: 287px;
    width: 100%;
    box-sizing: border-box;
    transform: scale(1);
    /* background: rgb(255 0 0); */
}

.KeyBoardGraphsStyle{
    position: absolute;
    height: 252px;
    width: 596px;
    margin-left: 28px;

}

.KeyBoard_Block{
    position: absolute;
    width: 23px;
    height: 23px;
    background: rgb(0,0,255);
    margin-left: 48px;
    margin-top: 11px;
}


#SharedPageContent{
    margin-left: 305px;
    position: absolute;
    height: 100%;
    width: 895px;
    background: rgb(237,238,240);
    

}



#SharedSelectList {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    position: absolute;
}


#SharedSelectList::-webkit-scrollbar-track {

    background-repeat: no-repeat;
}
#SharedSelectList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);


}
#SharedSelectList::-webkit-scrollbar {
    width: 16px;
}




.Shard_OptionItem{
    color: rgb(159,163,170);
    height: auto;
    width: 100%;
    line-height: 25px;
}