<!-- <p>
  perixx works!
</p> -->

<div id="HeaderColumn" style="height: 3vh;z-index: 9999;width: 100vw;background: #1D3460;" >


</div>
<div id="HeaderColumn" style="height: 97vh;z-index: 9999;width: 100vw;background: #2D2F34;" >
  <div id="Content" style="height: 97vh;z-index: 9999;width: 100vw;background: #2D2F34;" >
    <button type="button" style="position: absolute;
    left: 20vw;" class="ButtonStyle">Copy StyleText</button>
    <img id="GMMK_img" src="image/Perixx_Project/PageConnected/SettingIcon.png"/>

  </div>
</div>