:host{
    margin-top: 3vh;
    overflow: hidden;
    height: 720px;width: 1200px;
    user-select: none;
    position: absolute;
}

.CenterAlignment{
    display: flex;
    justify-content: center;
    align-items: center;
}


.RightPanal::before{
    content: "";
    position: absolute;
    height: 94%;
    width: 2px;
    margin-top: 18%;
    background-color: rgb(162,170,159);
}


.KeyBoardAreaStyle{
    height: 287px;
    width: 100%;
    box-sizing: border-box;
    transform: scale(1);
    /* background: rgb(255 0 0); */
}

.KeyBoardGraphsStyle{
    position: absolute;
    height: 252px;
    width: 596px;
    margin-left: 28px;

}

.KeyBoard_Block{
    display: flex;
    position: absolute;
    width: 22px;
    height: 22px;
    margin-left: 48px;
    margin-top: 11px;
    border-style: solid;
    /* border-color: rgb(255,87,0); */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 12%;
}

.KeyBoardBindImg{
    pointer-events: none;
    //height: 18px;
    width: 18px;
}






#SharedPageContent{
    margin-left: 305px;
    position: absolute;
    height: 100%;
    width: 895px;
    background: rgb(237,238,240);
    

}



#SharedSelectList {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    position: absolute;
}


#SharedSelectList::-webkit-scrollbar-track {
    background-repeat: no-repeat;
}
#SharedSelectList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: rgba(42, 42, 42,0);

}
#SharedSelectList::-webkit-scrollbar {
    width: 16px;
}




.Shard_OptionItem{
    color: rgb(159,163,170);
    height: auto;
    width: 100%;
    line-height: 25px;
}
.ApplyBtn{
    position: absolute;bottom: 24px;z-index: 9998;width: 153px;display: flex;height: 38px;justify-content: center;align-items: center;color: rgb(18,64,162);border: 1px solid rgb(18,64,162);

}




input[type="range"] {
    -webkit-appearance: none;
    /* background: -webkit-linear-gradient(#2e9cfb, #2e9cfb) no-repeat, #606060;
    background-size: 0 100%; */
    background: rgb(29, 52, 96);
    width: 200px;
    height: 7px;
    border-radius: 15px;

}

input[type="range"]:focus {
    outline: none;
}
/* 
input[type="range"]::-webkit-slider-runnable-track {
    height: 7px;
    background: rgb(29, 52, 96);
    border-radius: 15px; 
} */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 6px;
    height: 26px;
    background: rgb(18, 64, 162);
    border-radius: 15px;
}