:host{
    margin-top: 3vh;
    overflow: hidden;
    height: 720px;width: 1200px;
}

.CenterAlignment{
    display: flex;
    justify-items: center;
    align-content: center;
}


.RightPanal::before{
    content: "";
    position: absolute;
    height: 94%;
    width: 2px;
    margin-top: 18%;
    background-color: rgb(162 170 159);
}
