<!-- <p>
  perixx works!
</p> -->

<div id="HeaderColumn" style="position: relative;height: 3%;z-index: 9999;width: 100%;background: #1D3460;">


</div>
<div id="HeaderColumn" style="
position: relative;
height: 97%;width: 100%;background: #2D2F34;color: rgb(255, 255, 255);">
  <div id="onRecordUI" class="CenterAlignment" style="position: absolute;height: 100%;z-index: 9998;width: 100%;background: #0000008a;"
  [style.display]="MacroManager.onRecord?'flex':'none'">
    <div class="CenterAlignment" style="height: 20%;width: 20%;" >
      OnRecord...
    </div>
      <!-- <img src="./image/Share/Loading.gif" alt="Loading.gif" style="height: 92PX;
      width: 92PX;" /> -->
  </div>
  <div id="Nav_Project">
    <div class="Nav_ProjectItem" *ngFor="let item of KeyBoardManager.KeyBoardArray ;let i = index"
      (click)="project_select($event,i)"
      [style.color]="KeyBoardManager.keyboardOfChoice ==i?'rgb(18, 61, 162)':'rgb(159, 163, 170)'"
      [ngStyle]="{'border':KeyBoardManager.keyboardOfChoice ==i?'2px solid rgb(18,64,162)':'2px solid rgb(159, 163, 170)'}">
      M{{i+1}}
    </div>
  </div>
  <div id="NavigationBar">
    <img [src]="currentPage=='Home_Nav'? ImgPath.Home_Nav[1]:ImgPath.Home_Nav[0]" (click)="setPageIndex('Home_Nav')"
      class="NavigationOption">
    <img [src]="currentPage=='Keyboard_Nav'? ImgPath.Keyboard_Nav[1]:ImgPath.Keyboard_Nav[0]"
      (click)="setPageIndex('Keyboard_Nav')" class="NavigationOption">
    <img [src]="currentPage=='Lighting_Nav'? ImgPath.Lighting_Nav[1]:ImgPath.Lighting_Nav[0]"
      (click)="setPageIndex('Lighting_Nav')" class="NavigationOption">
    <img [src]="currentPage=='Macro_Nav'? ImgPath.Macro_Nav[1]:ImgPath.Macro_Nav[0]" (click)="setPageIndex('Macro_Nav')"
      class="NavigationOption">

  </div>


  <section *ngIf="this.currentPage=='Home_Nav'" id="SharedPageContent">
    <section id="Home_NavOptions" style="margin-left: -240px;
    margin-top: 55px;
    position: absolute;
    background: rgb(245 245 247);
    height: calc(100% - 55px);
    width: 240px;">
      <!-- [style.background-color]="KeyBoardManager.keyboardOfChoice ==i?'rgb(18, 61, 162)':'rgba(0, 0, 0,0)'"
      [style.color]="KeyBoardManager.keyboardOfChoice ==i?'rgb(255, 255, 255)':'rgb(159, 163, 170)'" -->
      <div id="SettingTitle" style="    color: rgb(45 47 52);
      height: auto;
      width: 100%;
      font-weight: bold;
      margin-left: 12px;
    margin-bottom: 2%;
    margin-top: 14%;">
        Settings
      </div>
      <div class="Shard_OptionItem" *ngFor="let item of settingsOption ;let i = index"
        (click)="scrollMoveToTheSpecifiedlocation(item.name);"
        [style.color]="item.name==settingLocation?'rgb(255, 255, 255)':'rgb(159, 163, 170)'"
        [style.background-color]="item.name==settingLocation?'rgb(18, 61, 162)':'rgba(0, 0, 0,0)'">
        &nbsp;&nbsp;&nbsp;{{item.name}}
      </div>
      <div id="SettingTitle" style="    color: rgb(45 47 52);
      height: auto;
      width: 100%;
      font-weight: bold;
      margin-top: 10%;
      margin-left: 12px;
    margin-bottom: 2%;">
        Firmware
      </div>
      <div id="SettingTitle" style="height: auto;
      width: 100%;
      line-height: 25px;" (click)="settingLocation='FirmwareUpgrade'"
        [style.color]="settingLocation=='FirmwareUpgrade'?'rgb(255, 255, 255)':'rgb(159, 163, 170)'"
        [style.background-color]="settingLocation=='FirmwareUpgrade'?'rgb(18, 61, 162)':'rgba(0, 0, 0,0)'">
        &nbsp;&nbsp;&nbsp;Firmware Upgrade
      </div>


    </section>
    <div id="MiddlePanel" style="
    position: absolute;
    height: 100%;
    width: 100%;">


      <section *ngIf="settingLocation!='FirmwareUpgrade'">
        <div id="SettingTitle" style="color: rgb(45 47 52);
        height: auto;
        width: 100%;
        font-weight: bold;
        margin-left: 2.4%;
        margin-top: 1.6%;">
          Settings
        </div>
        <div id="SharedSelectList" style="margin-left: 0px;">
          <div  style="margin-left: 23px;margin-top: 23px;">
            <section style="color: rgb(18,64,162);" class="ParallelTextString">
              Information 
            </section>
            <section class="ParallelTextString">
              Device Model 
              <div style="position: absolute;
              right: 12%;
              width: 20%;">
                Periboard-XXX 
              </div>
            </section>
            <section class="ParallelTextString">
              Battery
              <div style="position: absolute;
              right: 12%;
              width: 20%;">
                Periboard-XXX 
              </div>
            </section>

          </div>
          <div #Information class="ParallelLines" style="width:100%;height:1px;background: rgb(29, 52, 96);">
          </div>
        </div>
      </section>

      <section id="FirmwareUpgradeArea" *ngIf="settingLocation=='FirmwareUpgrade'">
        <div id="SettingTitle" style="color: rgb(45 47 52);
        height: auto;
        width: 100%;
        font-weight: bold;
        margin-left: 2.4%;
        margin-top: 1.6%;">
          Firmware
        </div>
      </section>
     
      
    </div>

  </section>

  <section *ngIf="this.currentPage=='Lighting_Nav'" id="SharedPageContent">
    
    <section id="Lighting_NavOptions" style="margin-left: -240px;
    margin-top: 55px;
    position: absolute;
    background: rgb(245 245 247);
    height: calc(100% - 55px);
    width: 240px;">
      <div id="SettingTitle" style="color: rgb(45 47 52);
      height: auto;
      width: 100%;
      font-weight: bold;
      margin-left: 12px;
    margin-bottom: 2%;
    margin-top: 14%;">
        Lighting
      </div>
      <div class="Lighting_OptionItem">
        Red
      </div>
      <div class="Lighting_OptionItem">
        Yellow
      </div>
      <div class="Lighting_OptionItem">
        Green
      </div>
      <div class="Lighting_OptionItem">
        Cyan
      </div>
      <div class="Lighting_OptionItem">
        Blue
      </div>
      <div class="Lighting_OptionItem">
        Purple
      </div>
      <div class="Lighting_OptionItem">
        Static Multi
      </div>
      <div class="Lighting_OptionItem">
        Breathing
      </div>
      <div class="Lighting_OptionItem">
        Gradual Breathing
      </div>
      <div class="Lighting_OptionItem">
        Rainbow
      </div>
      <div class="Lighting_OptionItem">
        Breathing per Key
      </div>
      <div class="Lighting_OptionItem">
        Poptang
      </div>
      <div class="Lighting_OptionItem">
        Breathing Trigger
      </div>
      <div class="Lighting_OptionItem">
        Rainbow Trigger
      </div>




    </section>
    <div id="MiddlePanel" style="
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 656px;">
          <div id="mainKeyboardBlock" class="KeyBoardAreaStyle">
            <div [style.background-image]="KeyBoardStyle.getTarget().BGImage" class="KeyBoardGraphsStyle">
            </div>
            <div *ngFor="let item of KeyBoardStyle.getTarget().keyMapping ;let i = index"
              [style.background-color]="ColorWheelModule.toCssRGBA(M_Light_Perixx.getNowBlock(i).color)"
              [style.border-width]="M_Light_Perixx.currentBlockIndex==i?'2px':'0px'"
              (click)="M_Light_Perixx.currentBlockIndex=i"
              style="border-style: solid;
              border-color: rgb(255,87,0);
              box-sizing: border-box;"
              data-KB_Block="5" class="KeyBoard_Block" (contextmenu)="clickMacroInTheAreaOfTheKeyboard(i)"
              [attr.data-index]="i">
            </div>
          </div>



    </div>
    <div class="RightPanal" style="position: absolute;
        height: 100%;
        width: 26.8%;
        right: 0px;">
      <div id="AreaTitle" style="position: absolute;
                 top: 13px;margin-left: 15px;color: rgb(45, 47, 52);">
        Color Palette
      </div>
      <!-- <ng-color-circle class="colorpicker" id="mouse-colorpicker" [(ngModel)]="colordata"
      (ngModelChange)="colorPickerChange($event)" [startHex]="startcolor">
      </ng-color-circle> -->
      <div data-CCP="5" style="width: 200px;
      height: 200px;
      margin-top: 58px;
      margin-left: 8%;">
        <div id="coordinateCircle" style="margin-left: calc(50% - 5px);margin-top: calc(50% - 5px);">
        </div>
     </div>
     <div id="DefaultColorList" style="    position: absolute;
     background: rgb(255 0 0,0);
     width: 192px;
     height: 49px;
     margin-left: 11%;
     margin-top: 313px;
     display: flex;
     flex-wrap: wrap;">
     <div *ngFor="let item of DefaultColorList;let i = index" class="DefaultColorItem"
        (click)="updateColorWheel($event)" id="colorBase{{i}}"
        [style.background-color]="this.ColorWheelModule.toCssRGB(item)">
     </div>
     <div id="CustomColorList" style="    position: absolute;
     background: rgb(255 0 0,0);
     width: 192px;
     height: 49px;
     margin-top: 100px;
     display: flex;
     flex-wrap: wrap;">
     <div *ngFor="let item of CustomColorList;let i = index" class="DefaultColorItem"
        (click)="updateColorWheel($event)" (contextmenu)="updateCustomColorList(i)" id="colorBase{{i}}"
        [style.background-color]="this.ColorWheelModule.toCssRGB(item)">
     </div>

  </div>

  </div>


    
    
    
    
    </div>
  </section>

  <section *ngIf="this.currentPage=='Keyboard_Nav'" id="SharedPageContent">
    <section id="Keyboard_NavOptions" style="margin-left: -240px;
    margin-top: 55px;
    position: absolute;
    background: rgb(245 245 247);
    height: calc(100% - 55px);
    width: 240px;">
      <div id="SettingTitle" style="color: rgb(45 47 52);
            height: auto;
            width: 100%; 
            font-weight: bold;    margin-top: 15%;
    position: absolute;margin-left: 12px;">
        Library
      </div>

      <img src="image/Perixx_Project/Share/AddIcon.png" style="position: absolute;
      right: 7%;
      margin-top: 15%;" (click)="KeyBoardLibray.create_KeyBoard()">
      <img src="image/Perixx_Project/Share/ImportIcon.png" style="position: absolute;
            right:20%;
            margin-top: 15%;" >

      <div id="SharedSelectList" style="margin-left: 0%;margin-top: 30%;">
        <div class="Shard_OptionItem" *ngFor="let item of KeyBoardLibray.KeyBoardArray;let i = index"
          (click)="keyboardLeftClick(i)" (contextmenu)="keyboardRightClick(i,$event)"
          [style.color]="KeyBoardLibray.keyboardOfChoice==i?'rgb(18, 61, 162)':'rgb(159, 163, 170)'">
          <input class="KeyBoardLibrayName" [attr.data-mindex]="i" type="text" placeholder="" style="width: 70%;
            position: absolute;
            margin-left: 8%;" maxlength="15"
            [style.visibility]="KeyBoardLibray.keyboardOfChoice==i&&KeyBoardLibray.editingName?'visible': 'hidden'"
            [(ngModel)]="KeyBoardLibray.nameBeingEdited" (blur)="renameKeyboard($event);
            KeyBoardLibray.editingName=false;
            "
            (keyup)="renameKeyboard($event);"
            
            >
          &nbsp;&nbsp;&nbsp;{{item.projectName}}
        </div>

      </div>
      <div id="KeyBoardLibrayOptions"  [style.display]="operationMenuFlag?'block': 'none'"
      class="CenterAlignment" data-identity="operationList">
        <div id="m_Rename" data-identity="m_Rename" (click)="keyboardRMenu('m_Rename');"(contextmenu)="keyboardRMenu('m_Rename');">
          {{this.i18nManager.getTarget('Rename')}}
        </div>
        <div id="m_Copy" (click)="keyboardRMenu('m_Copy');" (contextmenu)="keyboardRMenu('m_Copy');">
          {{this.i18nManager.getTarget('Copy')}}
        </div>
        <div id="m_Export" (click)="keyboardRMenu('m_Export');"(contextmenu)="keyboardRMenu('m_Export');">
          {{this.i18nManager.getTarget('Export')}}
        </div>
        <div *ngIf="KeyBoardLibray.KeyBoardArray.length>1" id="m_Delete" 
        (click)="keyboardRMenu('m_Delete');"(contextmenu)="keyboardRMenu('m_Delete');">
          {{this.i18nManager.getTarget('Delete')}}
        </div>
      </div>
    </section>
    <div id="MiddlePanel" style="
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 656px;">
          <div id="mainKeyboardBlock" class="KeyBoardAreaStyle">
            <div [style.background-image]="KeyBoardStyle.getTarget().BGImage" class="KeyBoardGraphsStyle">
            </div>
            <div *ngFor="let item of KeyBoardStyle.getTarget().keyMapping ;let i = index"
              data-KB_Block="5" class="KeyBoard_Block" (contextmenu)="clickMacroInTheAreaOfTheKeyboard(i)"
              [attr.data-index]="i"
              [style.border-width]="KeyBoardManager.keyBoardTemp.recordAssignBtnIndex==i?'2px':'0px'"
              (click)="KeyBoardManager.keyBoardTemp.recordAssignBtnIndex=i"
              style="border-style: solid;
              border-color: rgb(255,87,0);
              box-sizing: border-box;">
              <img style="pointer-events: none;" [src]="getKeyBindingIcon(i)" >
            </div>
          </div>

          <div class="ApplyBtn" style="position: absolute;bottom: 24px;z-index: 9998;width: 153px;display: flex;height: 38px;justify-content: center;align-items: center;color: rgb(18,64,162);border: 1px solid rgb(18,64,162);"
          (click)="this.KeyBoardManager.loadTemporaryKeyboardData()"> Apply 
          </div>

    </div>
    <div class="RightPanal" style="position: absolute;
   height: 100%;
   width: 26.8%;
   right: 0px;">
      <div id="AreaTitle" style="position: absolute;
            top: 13px;margin-left: 15px;color: rgb(45, 47, 52);">
        Customization
      </div>
      <div id="KeyAssignSelectList" >
        <!-- <div id="Character" style="color: rgb(29, 52, 96);
            background: rgb(255 0 0);
            width: 100%;
            height: 309px;">
          <div style="width: 100%;height: 10%;">Character</div>
          <img 
          [src]="currentTouchButtons=='Digit1'? ImgPath.Digit1[1]:ImgPath.Digit1[0]"
          (mouseover)="currentTouchButtons='Digit1'" 
          (mouseleave)="currentTouchButtons=''"
          (click)="setKeyBindingData('Digit1')">

        </div> -->
        <div id="Number" style="color: rgb(29, 52, 96);
                    width: 100%;
                    height: 40%;">
          <div style="width: 100%;height: 10%;">Number</div>
          <img 
          [src]="currentTouchButtons=='Digit1'? ImgPath.Digit1[1]:ImgPath.Digit1[0]"
          (mouseover)="currentTouchButtons='Digit1'" 
          (mouseleave)="currentTouchButtons=''"
          (click)="setKeyBindingData('Digit1')">
        </div>
      
      
      
      </div>
      




    </div>

  </section>

  <section *ngIf="this.currentPage=='Macro_Nav'" id="SharedPageContent">
    <section id="Macro_NavOptions" style="margin-left: -240px;
    margin-top: 55px;
    position: absolute;
    background: rgb(245 245 247);
    height: calc(100% - 55px);
    width: 240px;">
      <!-- [style.background-color]="KeyBoardManager.keyboardOfChoice ==i?'rgb(18, 61, 162)':'rgba(0, 0, 0,0)'"
      [style.color]="KeyBoardManager.keyboardOfChoice ==i?'rgb(255, 255, 255)':'rgb(159, 163, 170)'" -->
      <div id="SettingTitle" style="color: rgb(45 47 52);
            height: auto;
            width: 100%; 
            font-weight: bold;    margin-top: 15%;
    position: absolute;margin-left: 12px;">
        Library
      </div>

      <img src="image/Perixx_Project/Share/AddIcon.png" style="position: absolute;
      right: 7%;
      margin-top: 15%;" (click)="MacroManager.createFolderFile()">
      <img src="image/Perixx_Project/Share/ImportIcon.png" style="position: absolute;
            right:20%;
            margin-top: 15%;" >

      <!-- (click)="currentPage='Macro_Nav'" &&macroOnEdit-->
      <div *ngIf="MacroManager.getClass().hasFile();" id="MacroFileSelectList">
        <div class="Shard_OptionItem" *ngFor="let item of MacroManager.getClass().MacroFiletItem;let i = index"
          (click)="macroFileLeftClick(i)" (contextmenu)="macroFileRightClick(i,$event)"
          [style.color]="MacroManager.getClass().currentChooseMacro==i?'rgb(18, 61, 162)':'rgb(159, 163, 170)'">
          <img [src]="MacroManager.getClass().currentChooseMacro==i? ImgPath.Macro_Linking[1]:ImgPath.Macro_Linking[0]">
          <input class="MacroFileName" [attr.data-mindex]="i" type="text" placeholder="" style="    width: 70%;
            position: absolute;
            margin-left: 8%;" maxlength="15"
            [style.visibility]="MacroManager.getClass().currentChooseMacro==i&&macroOnEdit?'visible': 'hidden'"
            [(ngModel)]="MacroManager.onEditMacroName" (blur)="renameMacroFile($event);macroOnEdit=false;"
            (keyup)="renameMacroFile($event);">
          &nbsp;&nbsp;&nbsp;{{item.name}}
        </div>

      </div>
      <div id="macroFileOptions"  [style.display]="operationMenuFlag?'block': 'none'"
      class="CenterAlignment" data-identity="operationList">
        <div id="m_Rename" data-identity="m_Rename" (click)="macroOperationOption('startRenameMacroFile');"(contextmenu)="macroOperationOption('startRenameMacroFile');">
          {{this.i18nManager.getTarget('Rename')}}
        </div>
        <div id="m_Copy" (click)="macroOperationOption('copyFolderFile');" (contextmenu)="macroOperationOption('copyFolderFile');">
          {{this.i18nManager.getTarget('Copy')}}
        </div>
        <div id="m_Export" (click)="macroOperationOption('ExportProfile');"(contextmenu)="macroOperationOption('ExportProfile');">
          {{this.i18nManager.getTarget('Export')}}
        </div>
        <div id="m_Delete" *ngIf="MacroManager.getClass().MacroFiletItem.length>1"
        (click)="macroOperationOption('deleteMacroFile');"(contextmenu)="macroOperationOption('deleteMacroFile');">
          {{this.i18nManager.getTarget('Delete')}}
        </div>
      </div>
    </section>
    <div id="MiddlePanel" style="
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 656px;">
      <div id="MacroKeyboardBlock" class="KeyBoardAreaStyle">
        <div [style.background-image]="KeyBoardStyle.getTarget().BGImage" class="KeyBoardGraphsStyle">
        </div>
        <div *ngFor="let item of KeyBoardStyle.getTarget().keyMapping ;let i = index"
          [style.background-color]="KeyBoardManager.keyBoardTemp.theBindingCategoryIsMacro(i)?'rgb(255, 0, 0)':'rgba(255, 255, 255)'"
          data-Macro_Block="5" class="KeyBoard_Block" (contextmenu)="clickMacroInTheAreaOfTheKeyboard(i)"
          [attr.data-index]="i">
        </div>
      </div>
    </div>
    <div class="RightPanal" style="position: absolute;
   height: 100%;
   width: 26.8%;
   right: 0px;">
      <div id="AreaTitle" style="position: absolute;
            top: 13px;margin-left: 15px;color: rgb(45, 47, 52);">
        Macro Editing
      </div>
      <ng-container *ngIf="MacroManager.getClass().hasFile();">
        <div id="Record" style="    position: absolute;
        margin-left: 14px;
        margin-top: 60px;
        z-index: 9998;color: rgb(29, 52, 96);" 
        [style.background-color]="MacroManager.onRecord?'rgb(18, 61, 162)':'rgba(0, 0, 0,0)'"
        (click)="onRecordClick()" data-identity="startRecord">
          Record
        </div>
        <div id="Stop" style="    position: absolute;
        margin-left: 39%;
        margin-top: 60px;
        z-index: 9998;color: rgb(29, 52, 96);" 
        (click)="this.MacroManager.onRecord=false" data-identity="startRecord">
          Stop
        </div>
        <div id="Delete" style="position: absolute;
        margin-left: 69%;
        margin-top: 60px;color: rgb(29, 52, 96);" 
        (click)="MacroManager.tempMacroContent.deleteSelectMacro()">
          Delete
        </div>
      </ng-container>
      <!-- *ngIf="MacroManager.getClass().hasFile();"  -->
      <input *ngIf="MacroManager.getClass().hasFile();" type="checkbox" style="position: absolute;
      margin-left: 13px;
      margin-top: 94px;" [checked]="MacroManager.tempMacroContent.selectAllDataFlag" 
      (change)="MacroManager.tempMacroContent.switchSelectAllFlag()">
      <div id="Key" style="color: rgb(29, 52, 96);position: absolute;
           top: 0px;    margin-left: 30px;
          margin-top: 92PX;">
        Key
      </div>
      <div id="Start Time" style="color: rgb(29, 52, 96);position: absolute;
          top: 0px;    margin-left: 76px;
          margin-top: 92PX;">
        Start Time
      </div>
      <div id="Duration" style="color: rgb(29, 52, 96);position: absolute;
         top: 0px;    margin-left: 161px;
          margin-top: 92PX;">
        Duration
      </div>

      <div *ngIf="MacroManager.getClass().hasFile();" id="MactoContentList" style="    position: absolute;
                  top: 0px;
                  width: 92%;
                  margin-top: 106px;
                  margin-left: 4%;
                  height: 505px;
                  overflow-y: auto;">
        <div class="MactoContentItem" *ngFor="let item of MacroManager.getClass().getTarget().Data;let i = index"
        [style.color]="MacroManager.tempMacroContent.indexPosition==i?'rgb(159, 163, 170)':'rgb(159, 163, 170)'"
        (click)="MacroManager.tempMacroContent.indexPosition=i;"
        (dblclick)="selectMacroSubContent($event,i);">
          <input type="checkbox" [(ngModel)]="item.inTheSelectionList" (change)="MacroManager.tempMacroContent.selectAllDataFlag=false;">

          <input type="text" class="KeyCodeText" 
          (keydown)="macroEditkeyCode($event.code,i,$event);" 
          (keyup)="macroEditkeyCode($event.code,i,$event);" 
          (mouseup)="macroEditkeyCode($event.button,i,$event);"
          [value]="EM.getkeyCodeTxt(item.byKeyCode)" 
          data-identity="KeyCodeText" [readonly]="true">


          <input type="text" class="StartTimeText" 
          (keyup)="macroEditStartTime($event,i);" 
          (blur)="macroEditStartTime($event,i);"
          [value]="item.byStartTime" 
          data-identity="StartTimeText" [disabled]="item.inTheSelectionList ? false : true">

          <input type="text" class="durationText" 
          (keyup)="macroEditduration($event,i);" 
          (blur)="macroEditduration($event,i);"
          [value]="item.duration" 
          data-identity="durationText" [disabled]="item.inTheSelectionList ? false : true">
        </div>
      </div>
         
      <div class="ApplyBtn" style="position: absolute;bottom: 24px;z-index: 9998;width: 153px;display: flex;height: 38px;margin-left: 40px;justify-content: center;align-items: center;color: rgb(18,64,162);border: 1px solid rgb(18,64,162);"
      (click)="this.KeyBoardManager.loadTemporaryKeyboardData()"> Apply 
      </div>




    </div>

  </section>











  <div *ngIf="this.currentPage=='ConnectedPage'" id="Content">
    <!-- <button type="button" style="position: absolute;left: 20vw;" class="ButtonStyle">Copy StyleText</button> -->

    <div id="Content" style="position: absolute;
    left: 35%;
    margin-top: 25px;">
      Only one Perixx keyboard product is connected by USB cable.
    </div>
    <div id="Content" style="
    position: absolute;
    left: 44%;
    margin-top: 65px;
    width: 153px;
    height: 38px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;">
      Enter
    </div>

  </div>
  <div *ngIf="this.currentPage=='Settings'" id="Content">
  </div>
  <div *ngIf="this.currentPage=='AboutPage'" id="Content">
    <!-- <button type="button" style="position: absolute;left: 20vw;" class="ButtonStyle">Copy StyleText</button> -->

    <div id="ChildPage" style="position: absolute;
    left: 5%;width: 200px;height: 200px;
    /* background: red; */
    margin-top: 40px;">
      <div id="About" style="
      margin-top: 0px;">
        About
      </div>
      <div id="Update" style="
      margin-top: 40px;">
        Update
      </div>
      <div id="Help" style="
      margin-top: 40px;">
        Help
      </div>

    </div>
    <div id="ChildPageContent" style="position: absolute;
    left: 35%;width: 600px;height: 400px;
    background: red;
    margin-top: 40px;">
      <img id="SettingIcon" style="position: absolute;left:31%;" src="image/Perixx_Project/Settings/Logo.png">
      <img id="SettingIcon" style="position: absolute;
      margin-top: 13%;
      margin-left: 51%;" src="image/Perixx_Project/Settings/Instagram.png">
      <img id="SettingIcon" src="image/Perixx_Project/Settings/FBIcon.png" style="position: absolute;
        margin-top: 13%;
        margin-left: 40%;">
      <a style="position: absolute;
        margin-top: 25%;
        margin-left: 40%;" href="https://perixx.com/" target="_blank">https://perixx.com/</a>

    </div>




  </div>
  <img id="SettingIcon" src="image/Perixx_Project/PageConnected/SettingIcon.png"
    style="position: absolute;bottom: 20px;left: 20px;">

</div>