.HomePageHeaderText{
    margin-left: 0px;
    margin-top: 23px;
}
.HomePageHeaderLine{
    margin-left: 0px;
}
.ParallelLines{
    width: 837px;
    height: 1px;
    background: rgb(159, 163, 170);
    margin-left: 0px;
    margin-top: 20px;
    
}
